<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{create.task.title}">Create Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center" th:text="#{create.task.title}">Create Task</h1>
    <form th:action="@{/tasks/new}" method="post">
        <div class="form-group">
            <label for="taskNameInput" th:text="#{task.name}">Task Name:</label>
            <input type="text" class="form-control" id="taskNameInput" name="name" required>
        </div>
        <div class="form-group">
            <label for="taskDescriptionInput" th:text="#{task.description}">Task Description:</label>
            <textarea class="form-control" id="taskDescriptionInput" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="taskStatusInput" th:text="#{task.status}">Task Status:</label>
            <input type="text" class="form-control" id="taskStatusInput" name="status" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block" th:text="#{create.button}">Create</button>
    </form>
    <p class="text-center">
        <a th:href="@{/tasks/new(lang='en')}" th:text="#{lang.english}">English</a> |
        <a th:href="@{/tasks/new(lang='ru')}" th:text="#{lang.russian}">Русский</a>
    </p>
</div>
</body>
</html>