<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/pics/logo.png" type="image/x-icon">
    <title>Task Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 th:text="#{welcome.message}">Welcome to Task Manager</h1>
            <p th:text="#{manage.tasks}">Manage your tasks with ease.</p>
            <a href="/login" class="btn btn-primary btn-lg" th:text="#{login.button}">Login</a>
            <a href="/register" class="btn btn-secondary btn-lg" th:text="#{register.button}">Register</a>
            <p class="text-center mt-3">
                <a th:href="@{/home(lang='en')}" th:text="#{lang.english}">English</a> |
                <a th:href="@{/home(lang='ru')}" th:text="#{lang.russian}">Русский</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>